.application-form{
   display: flex;
   flex-direction: column; 
   gap: 15px;
}

.input{
    padding: 10px;
    border: none;
    outline: none;
}

.create{
    border: none;
    background-color: palevioletred;
    color: white;
    cursor: pointer;
    width: 100px;
}



